<h2>Thêm sản phẩm</h2>

<form method="POST" enctype="multipart/form-data">
    Tên: <input name="name"><br>
    Giá: <input name="price"><br>
    Kho: <input name="unit_in_stock"><br>
    Ảnh: <input type="file" name="image"><br>
    <button>Thêm</button>
</form>