<h2>Chi tiết sản phẩm</h2>

<img src="<%= product.url_image %>" width="150"><br>
Tên: <%= product.name %><br>
Giá: <%= product.price %><br>
Kho: <%= product.unit_in_stock %><br>

<a href="/">Quay lại</a>